##########
# Builds #
##########
Builds/

###############
# Cache files #
###############
.fscache


############
# Symlinks #
############

# Symlink to godot-issues compilation
issues


##############
# Raw Assets #
##############

# LMMS
*.mmpz.bak


